svg {
	border: solid black 1px;
	margin: 1em;
	background: #704747;
}

path {
	fill: black;
}

.axis {
	font-size: 0.7em;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}