body {
	background: black;
	font-family: Helvetica, Arial, sans-serif;
}

svg {
	border: solid #333 1px;
	margin: 1em;
	background: #262626;
}

path {
	fill: white;
}

.axis text {
	font-size: 0.7em;
	fill: #AAA;
}

.axis path,
.axis line {
	fill: none;
	stroke: #AAA;
	shape-rendering: crispEdges;
}